# Excluded IDE Directories
.idea/
.vs/
.vscode/
.ws/

# Excluded Local/User Directories
_archive/
_misc/
whitesource/

# Excluded Files - Naming Convention
local-env.*

# General
.DS_Store
.AppleDouble
.LSOverride

# SciTools understand
Serial-Studio.und

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Qt project file
*.pro.user